@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}